/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT GENERATOR */

@font-face {
    font-family: 'brandon_grotesquebold_italic';
    src: url('font/brandon_bld_it-webfont.eot');
    src: url('font/brandon_bld_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/brandon_bld_it-webfont.woff') format('woff'),
         url('font/brandon_bld_it-webfont.ttf') format('truetype'),
         url('font/brandon_bld_it-webfont.svg#brandon_grotesquebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('font/brandon_bld-webfont.eot');
    src: url('font/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/brandon_bld-webfont.woff') format('woff'),
         url('font/brandon_bld-webfont.ttf') format('truetype'),
         url('font/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('font/brandon_reg_it-webfont.eot');
    src: url('font/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/brandon_reg_it-webfont.woff') format('woff'),
         url('font/brandon_reg_it-webfont.ttf') format('truetype'),
         url('font/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('font/brandon_reg-webfont.eot');
    src: url('font/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/brandon_reg-webfont.woff') format('woff'),
         url('font/brandon_reg-webfont.ttf') format('truetype'),
         url('font/brandon_reg-webfont.svg#brandon_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FONT GENERATOR */


/*GENERIC CSS*/
/* Needed for a fluid height: */
html, body, .container, .main { height: 100%;}

body {
	background: url(images/background.jpg);
	height: 100%;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	background-repeat: no-repeat;
	background-position:center;
	background-position-y: 90%;
	font-family: "brandon_grotesqueregular";
}

/*GENERIC CSS*/

/* main wrapper */
.cbp-contentslider {
	width: 100%;
	height: 90%;
	margin: 0 auto;
}

.cbp-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.cbp-contentslider > ul li {
	position: absolute;
	width: 97.6%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 1em;
	color: #fff;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
	z-index: 100;
}
.cbp-contentslider nav {
	
	margin:0 auto;
	width: 20%;	
	text-align: center;	
	font-size: 16px;
}
.cbp-contentslider nav a {
	float: left;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	
}



.cbp-contentslider nav a span {
	display: block;
}

.cbp-contentslider nav a:hover {
	color: #fff;
}

.cbp-contentslider nav a.rc-active {
	
	color: #fff;
}



/*TOP SIDE CSS*/


#top{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	
	
}

#home{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	
}

#home ul{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	
}

#home .home-container {
	width: 80%;
	margin: 0 auto;
	border: 1px solid white;
}






/*Header*/
header {
	padding-top: 5%;	
}

nav {
	margin:0 auto;
	width: 20%;	
	text-align: center;	
	font-size: 16px;
}

nav li{
	display: inline-block;
	padding:0 8% 0 8%;
	height: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white; 
		color: white;
	text-decoration: none;
	cursor: pointer;	
}

nav li:first-child{
	padding:0 8% 0 0; 
	border: none; 	
}

nav li:last-child{
	padding:0 0 0 8%; 
	border: none;	
}

nav a{
	color: white;
	text-decoration: none;	
}

nav a:hover{
	color: white;
	text-decoration: underline;	
}

.logo {
	background-image: url(images/logo.png);
	height: 43px;
	width: 28px;
	margin: 8% auto;
}


/*Header*/


/*First section*/
#home h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	text-align: center;
	font-size: 33px;
	letter-spacing: 2px;
	
	
	
}

.separator{
	border-bottom: 1px solid #fff;
	width: 130px;
	margin: 40px auto 20px auto;
}

#home p{
	width: 59%;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	color:#a7a7a7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "brandon_grotesquebold";
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}

#about .links {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#about .links a {
	color:#fff;
	padding: 0 5% 0 5%;
	text-decoration: none;
	text-transform: uppercase;
}

#about p {
	width: 50%;
	text-align:center;
	margin: 35px auto;
	color: rgba(255, 255, 255, 0.3);
	line-height: 20px;
}



.btn a {
	border: 1px solid #dddddd;
	text-align: center;
	width: 180px;
	display: block;
	margin:0 auto;
	padding: 10px 0 10px 0;
	color: #dddddd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	bottom:40px;
	z-index: 999;
	
}

/*First section*/
/*TOP SIDE CSS*/


/*MIDDLE SIDE CSS*/

#middle {
	height: 100%;
}

#middle .works{
	}

#middle .works article{
	width: 50%;
	height:370px;
	float: left;
}

#middle h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	text-align: center;
	font-size: 33px;
	letter-spacing: 2px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	
	
}

#middle .separator{
	border-bottom: 1px solid #fff;
	width: 130px;
	margin: 40px auto 80px auto;
}

#middle p{
	width: 48%;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	color:#a7a7a7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "brandon_grotesquebold";
	text-align: center;
	line-height: 35px;
}


#middle .btn a {
	border: 1px solid #dddddd;
	text-align: center;
	width: 180px;
	display: block;
	margin:2% auto;
	padding: 10px 0 10px 0;
	color: #dddddd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	
}

#middle .works article .text{
	padding-top: 110px;
	background-color: rgba(0, 0, 0, 0.0);
	height: 259px;
	opacity: 1;
	transition: background 0.2s ease-in-out;
}

#middle .works article .text:hover{
	background-color: rgba(0, 0, 0, 0.7);
	transition: background 0.2s ease-in-out;
}

#middle .works .projet-1{
	background-image: url(images/le-manoir-enchante.png);
	background-repeat: no-repeat;
	background-position: center;
	height:369px;
}

#middle .works .projet-2{
	background-image: url(images/world-cup.png);
	background-repeat: no-repeat;
	background-position: center;
	height:369px;
}

#middle .works .projet-3{
	background-image: url(images/mytrip.png);
	background-repeat: no-repeat;
	background-position: center;
	height:369px;
}

#middle .works .projet-4{
	background-image: url(images/adrienlafond.png);
	background-repeat: no-repeat;
	background-position: center;
	height:369px;
}

#middle .works article .text h1{
	color: #b9b9b9;
}

#middle .works article .text .separator{
	border-bottom:1px solid #b9b9b9;
	margin: 40px auto 80px auto;
}


/*MIDDLE SIDE CSS*/




/*BOTTOM SIDE CSS*/

#bottom {
	color: #b9b9b9;
	/*height: 61px;*/
	
}

#bottom footer {
	
	position: relative;
	
}

#bottom footer p{
	text-align: center;
	padding: 50px 0 25px 0;
	
}

#bottom footer a{
	color: #b9b9b9;
	
}
/*BOTTOM SIDE CSS*/

