/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*GENERIC CSS*/
/* Needed for a fluid height: */
html, body, .container, .main { height: 100%;}

.left{
	width: 50%;
	float: left;
}

.right{
	width: 50%;
	float: left;
}

body {
	
	height: 100%;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: "brandon_grotesqueregular";
}

/*GENERIC CSS*/

/* main wrapper */
.cbp-contentslider {
	width: 100%;
	height: 90%;
	margin: 0 auto;
}

.cbp-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.cbp-contentslider > ul li {
	position: absolute;
	width: 97.6%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 1em;
	color: #fff;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
	z-index: 100;
}
.cbp-contentslider nav {
	
	margin:0 auto;
	width: 20%;	
	text-align: center;	
	font-size: 16px;
}



.cbp-contentslider nav a {
	float: left;
	background-image: url("images/menu-sep.png");
	background-position: 0px 6px;
	background-repeat: no-repeat;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	
}

.cbp-contentslider nav a:first-child {
	background: none;
	
}

.cbp-contentslider nav a span {
	display: block;
}

.cbp-contentslider nav a:hover {
	color: #fff;
}

.cbp-contentslider nav a.rc-active {
	
	color: #fff;
}



/*TOP SIDE CSS*/


#top{
	background:#1a1a1a;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	
	
}

#home{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	
}



#home ul{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	
}

#home .home-container {
	width: 80%;
	margin: 0 auto;
	border: 1px solid white;
}






/*Header*/
header {
	padding-top: 25px;	
}

nav {
	margin:0 auto;
	width: 20%;	
	text-align: center;	
	font-size: 16px;
	opacity: .8;
}

nav li{
	display: inline-block;
	padding:0 8% 0 8%;
	height: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white; 
		color: white;
	text-decoration: none;
	cursor: pointer;	
}

nav li:first-child{
	padding:0 8% 0 0; 
	border: none; 	
}

nav li:last-child{
	padding:0 0 0 8%; 
	border: none;	
}

nav a{
	color: white;
	text-decoration: none;	
}

nav a:hover{
	color: white;
	text-decoration: underline;	
}

.logo {
	background-image: url(images/logo.png);
	height: 43px;
	width: 28px;
	margin: 8% auto;
}

.space {
	height: 43px;
	width: 28px;
	margin: 8% auto;
}


/*Header*/


/*First section*/
#home h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	text-align: center;
	font-size: 35px;
	letter-spacing: 2px;
	opacity:.8;
}

#home h1 span {
	opacity:.2;
}

.separator{
	border-bottom: 1px solid #fff;
	width: 130px;
	margin: 40px auto 20px auto;
}

#home p{
	width: 59%;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	color:#a7a7a7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "brandon_grotesquebold";
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}

#about{
	position: relative;
}

#about h1 {
	text-align: center;
	font-size: 16px;
	color: #d5d6d7;
	text-transform: uppercase;
	margin-bottom: 60px;

}

#about .separator {
	position: absolute;
	left: 0;
	right: 0;
	width: 8%;
	margin: 8px auto 8px auto;
	
}


#about .right {
	width: 40%;
	float: right;
	padding: 0 70px 0 0px;
	
}

#about .left {
	width: 40%;
	float: left;
	padding: 0 0px 0 70px;


}

#about p {
	color: #52545a;
	width: 100%;
	line-height: 20px;
	text-align: justify;


}

#contact{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	float: left;
	overflow: hidden;
	position: relative;
	
}



#contact .contact-block {
	width: 565px;
	margin: 0 auto;
	position: relative;
}


#contact h1 {
	color: #d5d6d7;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	text-align: center;
	font-size: 35px;
	letter-spacing: 2px;
}

#contact h2 {
	color: #52545a;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	right: 4px;
	top: -18px;
	position: absolute;
	/*left:5px;*/
}


.separator{
	border-bottom: 1px solid #d2d2d2;
	width: 130px;
	margin: 40px auto 20px auto;
}

#contact p{
	width: 59%;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	color:#52545a;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "brandon_grotesquebold";
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}


.btn a {
	border: 1px solid #dddddd;
	text-align: center;
	width: 180px;
	display: block;
	margin:0 auto;
	padding: 10px 0 10px 0;
	color: #dddddd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	position: relative;
	bottom:40px;
	z-index: 999;
	
}

/*First section*/
/*TOP SIDE CSS*/


/*MIDDLE SIDE CSS*/

#middle {
	height: 90%;
}

#middle .works{
	}

#middle .works article{
	width: 50%;
	float: left;
}

#middle h1 {
	color: #fff;
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	text-align: center;
	font-size: 21px;
	letter-spacing: 2px;
	
}



#middle .separator{
	border-bottom: 1px solid #fff;
	width: 130px;
	margin: 40px auto 80px auto;
}

#middle p{
	width: 48%;
	padding: 20px 0 20px 0;
	margin: 0 auto;
	color:#a7a7a7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "brandon_grotesquebold";
	text-align: center;
	line-height: 35px;
}


#middle .btn a {
	border: 1px solid #dddddd;
	text-align: center;
	width: 180px;
	display: block;
	margin:2% auto;
	padding: 10px 0 10px 0;
	color: #dddddd;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	
}

#middle .works article .text{
	width: 100%;
	padding-top: 117px;
	background-color: rgba(0, 0, 0, 0.0);
	height: 252px;
	opacity: 1;
	transition: background 0.2s ease-in-out;
}

#middle .works article .text:hover{
	background-color: rgba(0, 0, 0, 0.7);
	transition: background 0.2s ease-in-out;
}

#middle .works .projet-1{
	background-image: url(images/le-manoir-enchante.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#middle .works .projet-2{
	background-image: url(images/world-cup.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

#middle .works .projet-3{
	background-image: url(images/mytrip.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

#middle .works .projet-4{
	background-image: url(images/adrienlafond.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

#middle .works article .text h1{
	color: #b9b9b9;
}

#middle .works article .text .separator{
	border-bottom:1px solid #b9b9b9;
	margin: 40px auto 80px auto;
}


/*MIDDLE SIDE CSS*/




/*BOTTOM SIDE CSS*/

#bottom {
	color: #b9b9b9;
	position: relative;
	width: 100%;

	/*height: 61px;*/
	
}

#bottom footer {
	position: relative;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	
}

#bottom footer p{
	text-align: center;
	position: relative;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	padding: 25px 0 25px 0;
	color: #8D8D8D;
	font-size: 14px;
	height: 8%;
	margin: 0 auto;
	width: 100%;
	
}

#bottom footer a{
	color: #b9b9b9;
	
}
/*BOTTOM SIDE CSS*/


/*WC CSS*/

/*icons*/

#worldcup .what{
	background-image: url(images/what.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0 0px 0;
	height: 22px;
	
}

#worldcup .where{
	background-image: url(images/where.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0 0px 0;
	height: 22px;
	
}

#worldcup .who{
	background-image: url(images/who.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0 0px 0;
	height: 22px;
	
}

#worldcup .when{
	background-image: url(images/when.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px 0 0px 0;
	height: 22px;
	
}
/*icons*/

#worldcup{
	background-color: #f5f5f5;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "brandon_grotesqueregular";
}

#worldcup .container{
	width: 100%;
	margin: 0 auto;
}

#worldcup header{
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 50px;
	margin: 0 auto;
	width: 76%;
} 

#worldcup ul {
	padding: 0px 0 35px 0;
}

#worldcup ul li {
	float: left;
	width: 25%;
	text-align: center;
	color: #8a8a8a;
	text-transform: uppercase;
	font-size: 12px;
}

#worldcup #top-4w {
	height:  	;
}

#worldcup #zero {
	height: 25%;
}

#worldcup .top-quit{
	margin: 0 auto;
	width: 100%;
}

#worldcup .top-quit .quit-icon{
	background-image: url(images/quit.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 21px;
	padding: 0 11px 0 11px;
	margin:25px auto 50px auto;
	
}

#worldcup .top-quit h1 {
	text-transform: uppercase;
	font-family: "brandon_grotesquebold";
	color: #808080;
	text-align: center;
	font-size: 31px;
	margin-top: 0;
	
	
}

#worldcup .top-quit .separator {
	width:2%;
	margin: 24px auto;
	border: 1px solid #d2d2d2;
	
}


#worldcup #first {
	height: 80%;
	background-image: url(images/bg-blur.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	margin: 0 auto;
	width: 980px;
}

#worldcup .lequipe-logo {
	background-image: url(images/cs-wcl/logo-equipe.png);
	background-repeat: no-repeat;
	width: 70px;
	height: 12px;
	position: absolute;
	margin-top:-15px; 
}

#worldcup #first h1 {
	font-size: 30px;
	padding-top: 190px;
	font-family: "brandon_grotesquebold";
	text-transform: uppercase;
	color: #808080;
	position: relative;
	
}

#worldcup #first .separator {
	width: 77%;
	margin: 25px 0 25px 0;
	
}

#worldcup #first p {
	width: 82%;
	font-family: "uni_sans_bookregular";
	color: #a8a8a8;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
}

#worldcup #first p span {
	font-family: "uni_sans_semiboldregular";
}

#worldcup #first .display-1 {
	background: url(images/cs-wcl/display-1.png) no-repeat;
	height: 520px;
	width: 100%;
	
}

#worldcup #second {
	height: 100%;
	background-size: 100%;
	background-position: center;
	position: relative;
	margin: 0 auto;
	width: 980px;
}

#worldcup #second h1 {
	font-size: 30px;
	font-family: "brandon_grotesquebold";
	text-transform: uppercase;
	color: #808080;
	padding-bottom: 50px;
	
}

#worldcup #second h1 span {
	font-size: 14px;
	font-family: "brandon_grotesqueregular";
	text-transform: uppercase;
	color: #1f88fd;
	vertical-align: top;
	padding-right : 2px;
	
}

#worldcup #second h2 span {
	font-size: 10px;
	font-family: "brandon_grotesqueregular";
	text-transform: uppercase;
	color: #a3a3a3;
	vertical-align: top;
	padding-right : 2px;
	
}

#worldcup #second .display-2 {
	background: url(images/cs-wcl/display-2.png) no-repeat;
	height: 520px;
	width: 100%;
	
}

#worldcup #second .display-3 {
	height: 320px;
	width:70%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top:31%;
	right:-11%;
	
}

#worldcup #second .display-3 .display-3-content{
	padding: 50px;
}

#worldcup #second .display-3 .display-3-content h2{
	font-size: 20px;
	font-family: "brandon_grotesquebold";
	text-transform: uppercase;
	color: #8d8d8d;
	letter-spacing: 2px;

}

#worldcup #second .display-3 .display-3-content p{
	font-size: 14px;
	margin-top: 25px;
	font-family: "uni_sans_bookregular";
	width: 90%;
	line-height: 25px;
	color: #8d8d8d;
	letter-spacing: 2px;

}

#worldcup #second .display-3 .display-3-content ul{
	padding-top: 25px;
}

#worldcup #second .display-3 .display-3-content li{
	width: 50%;
	text-align: left;
	padding-bottom: 25px;
	color: #b8b8b8;

}

#worldcup #second .display-3 .display-3-content li div{
  border-radius:50%;
  width:10px;
  float: left;
  height:10px;
  margin-right: 25px;

}

#worldcup #second .display-3 .display-3-content li .blue{
	background:#278cfd;
}

#worldcup #second .display-3 .display-3-content li .green{
	background:#33cd76;
}

#worldcup #second .display-3 .display-3-content li .red{
	background:#ed5140;
}

#worldcup #second .display-3 .display-3-content li .yellow{
	background:#ffd300;
}



.third-slide {
	position: relative;
	overflow: hidden;
	width: 100%;
	left: 0;
	right: 0;
	padding: 120px 0px 120px 0px;
	background: #ececec;
	
}

#worldcup #third h2 span {
	font-size: 14px;
	font-family: "brandon_grotesqueregular";
	text-transform: uppercase;
	color: #1f88fd;
	vertical-align: top;
	padding-right : 2px;
	
}

.third-slide ul {
	margin: 0;
	padding: 0;

	
}

.third-slide ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
}

.third-slide ul li .list-content{
	margin: 0 auto;
	width: 85%;
}

.third-slide ul li .left{
	float: left;
	width: 50%;
	text-align: left;
}
.third-slide ul li .right{
	float: right;
	width: 50%;
	text-align: left;
	
}

.third-slide ul li .text{
	margin-top: 80px;
	margin-left: 60px;
	
}

.third-slide ul li .right h2{
	color: #808080;
	font-family: 'brandon_grotesquebold';
	font-size: 30px;
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.third-slide ul li .right p{
	color: #a8a8a8;
	font-size: 14px;
	text-transform: none;
	 font-family: 'uni_sans_bookregular';
	line-height: 18px;
	letter-spacing: 1px;
}

.third-slide ul li .left h2{
	color: #e1e1e1;
	font-family: 'brandon_grotesquebold';
	font-size: 30px;
	margin-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.third-slide ul li .left p{
	color: #545454;
	font-size: 14px;
	text-transform: none;
	 font-family: 'uni_sans_bookregular';
	line-height: 18px;
	letter-spacing: 1px;
}


.third-slide nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: #47a3da;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	visibility: hidden;
}

.third-slide nav span:hover {
	background: #378fc3;
}

.cbp-fwdots {
	position: absolute;
	bottom:25px;
	text-align: center;
	width: 100%;

}

.cbp-fwdots span {
	display: inline-block;
	padding: 3.5px;
	border:1px solid #585858;
	margin: 10px;
	cursor: pointer;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #585858;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

#worldcup #fourth {
	height: 100%;
	background-size: 100%;
	background-position: center;
	position: relative;
	margin: 0 auto;
	width: 980px;
}

#worldcup #fourth h1 {
	font-size: 30px;
	font-family: "brandon_grotesquebold";
	text-transform: uppercase;
	color: #808080;
	padding-top: 100px;
	padding-bottom: 50px;
	
}

#worldcup #fourth h1 span {
	font-size: 14px;
	font-family: "brandon_grotesqueregular";
	text-transform: uppercase;
	color: #1f88fd;
	vertical-align: top;
	padding-right : 2px;
	
}

#worldcup #fourth .display-7 {
	background: url(images/cs-wcl/display-7.png) no-repeat;
	height: 520px;
	width: 100%;
	
}

#worldcup #fifth {
	height: 25%;
	margin: 100px auto 100px auto;
	position: relative;
	width: 980px;

}

#worldcup #fifth h1 {
	font-size: 30px;
	text-align: center;
	font-family: "brandon_grotesquebold";
	text-transform: uppercase;
	color: #585858;
	padding-bottom: 75px;
	
}

#worldcup #fifth .btn {
	padding-bottom: 25px;
}

#worldcup #fifth .btn a {
	color: #585858;
	border: 1px solid #585858;
}

#worldcup #fifth .controllers{
	position: absolute;
	top:50%;
	width: 100%;
}

#worldcup #fifth .next {
	height: 20px;
	width: 20px;
	left: 0;
	position: absolute;
	background: url(images/arrows.png) no-repeat;
	
}

#worldcup #fifth .previous {
	height: 20px;
	width: 20px;
	right: 0;
	position: absolute;
	background: url(images/arrows.png) no-repeat;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
	
}

#worldcup footer p{
	width: 980px;
	color: #fff;
}